.pagination {
  min-height: 100vh;
  background-color: #101820;
  color: #ffcc00;
}

.pagination-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 50px;
}

.pagination-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.movie-card {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  color: #ffcc00;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-img {
  width: 50px;
  min-height: 70px;
  max-height: 70px;
  height: auto;
  border-radius: 5px;
}

.movie-card h3 {
  font-size: 16px;
  margin-top: 10px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.pag-cont {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pag-btn {
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #ffcc00;
  font-family: "poppins";
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.7);
}

.pag-btn:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: not-allowed;
}

.page-button {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffcc00;
  font-family: "poppins";
  font-weight: 700;
  transition: all 0.3s;
  cursor: pointer;
}

.page-button:hover {
  scale: 1.15;
}

.active-page {
  color: #ffffff;
  scale: 1.15;
}

@media (max-width: 1024px) {
  .pagination-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .pag-btn,
  .page-button {
    padding: 6px 10px;
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .pagination-inner {
    padding: 200px 50px 60px;
  }
}

@media (max-width: 768px) {
  .pagination-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 740px) {
  .pagination-controls {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .pagination-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .pagination-inner {
    padding: 200px 15px 60px;
  }

  .movie-card h3 {
    font-size: 14px;
  }

  .page-button {
    padding: 11px 11px;
    font-size: 8px;
  }

  .movie-img {
    width: 40px;
    max-height: 60px;
  }
  .pag-btn {
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #ffcc00;
    font-family: "poppins";
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .pag-cont {
    gap: 4px;
  }
}

@media (max-width: 360px) {
  .page-button {
    padding: 9px 9px;
    font-size: 8px;
  }

  .movie-img {
    width: 40px;
    max-height: 60px;
  }
  .pag-btn {
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #ffcc00;
    font-family: "poppins";
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .pag-cont {
    gap: 4px;
  }
}
