.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  color: white;
  border-top: 0.5px solid #fff;
}
